<p id="notice"><%= notice %></p>

<h1>Gastronomia</h1>

<table>
  <thead>
    <tr>
      <th>Plato</th>
      <th>Descripcion</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gastronomia.each do |gastronomium| %>
      <tr>
        <td><%= gastronomium.plato %></td>
        <td><%= gastronomium.descripcion %></td>
        <td><%= gastronomium.imagen %></td>
        <td><%= link_to 'Show', gastronomium %></td>
        <td><%= link_to 'Edit', edit_gastronomium_path(gastronomium) %></td>
        <td><%= link_to 'Destroy', gastronomium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gastronomium', new_gastronomium_path %>
