<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @route.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @route.descripcion %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
