<!DOCTYPE html>
<html>
  <head>
    <title>Rutasturisticas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Rutas turística Bogotá</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
        <a class="nav-link" href="/routes">Rutas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/recorridos">Recorridos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/gastronomia">Gastronomia<span class="sr-only">(current)</span></a>
      </li>
    </ul
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class= "navbar-nav mr-auto">
      <% if user_signed_in? %>
       <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
       <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path %></li>
       <li class="nav-item"><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>


    <%= yield %>

    <footer style="text-align:center">
  <p>Posted by: Yeimy , Zully,Daniel BOGOTA DEV-HACKATON</p>
  <p>Contact information: <a href="mailto:someone@example.com">Bogota@hotmail.com</a>.</p>
</footer>
  </body>
</html>
 